npm-debug.log
unity/Temp/UnityLockfile
node/.idea/workspace.xml
unity/Assembly-CSharp-Editor.csproj
unity/Assembly-CSharp-firstpass.csproj
unity/unity.Editor.Plugins.csproj
unity/Assembly-CSharp.csproj
unity/unity.sln
unity/unity.userprefs
unity/Assembly-CSharp-Editor-firstpass.csproj
unity/Eye Of Power.sln
unity/Eye Of Power.userprefs
unity/unity.Plugins.csproj
unity/unity.csproj
unity/Library
unity/UnityPackageManager
unity/Temp
unity/node_modules
unity/obj
unity/ProjectSettings
.idea
unity/Assembly-CSharp-Editor-firstpass.csproj
unity/Assembly-CSharp-Editor.csproj
unity/Assembly-CSharp-firstpass.csproj
unity/Temp/Export Package
unity/Temp/TarGZ
unity/Temp/bin
unity/node_modules
unity/obj
*.info
